@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600&display=swap');

body {
    background-color: rgb(187, 200, 254);
}


#page_title {
    color: rgb(9, 9, 204);
    font-size: 70px;
}

#buy_for_me {
    font-size: 24px;
}

#heading {
    /* width: fit-content; */
    font-family: monospace;
    padding: 3%;
    background-color: rgb(0, 39, 136);
    color:white;
}

#p3r_img {
    padding: 0%;
    max-width: 100%;
    max-height: 100vh;
}

.title {
    background-color: rgb(104, 193, 241);
    padding: 1%;
    font-family: 'Pixelify Sans', monospace, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 2%;
}

.organizer {
    display: inline-flex;
    font-family: monospace;
}

.video {
    padding-left: 3%;
}

.img_box {
    display: grid;
    margin: auto;
}

.image {
    padding: 3%;
    padding-bottom: 0%;
    max-width: 80%;
    max-height: 100vh;
    margin: auto;
}

.labeled_img {
    width: fit-content;
    background-color: rgb(104, 193, 241);
}

.reg_text {
    padding: 3%;
    display: block;
    font-size: 20px;
}

.txt_label {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
